<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Mon Blog!!</h2>
        <ul>
            <app-blog  *ngFor="let itemBlog of blog"
                           [title]="itemBlog.title"
                           [content]="itemBlog.content"
                            [loveIts]="itemBlog.loveIts"
                            [created_at]="itemBlog.created_at"></app-blog>
        </ul>
    </div>
  </div>
</div>