<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': loveIts > 0,
                'list-group-item-danger': loveIts < 0}">
    <div>
        <h4 class="pull-right">{{ created_at | date: 'short'}}<br></h4>
        <h4 >Blog : {{ title }}</h4>
        <h4>{{ content }}</h4>
        <button class="btn btn-success"
                (click)="addLove()">LoveIT</button>
        <button class="btn btn-danger"
                (click)="removeLove()">i don't like it</button>
    </div>
</li>

